.button {
   border: none;
   background-color: #74546a; 
   font-size: 24px;
   color: #843b62;
   font-weight: bold;
   cursor: pointer;
   border-radius: 10px;
   outline: none
}

.equals {
    grid-column: 4 / 5;
    background-color: #f77d7c;
}