.button {
   border: none;
   background-color: #74546a; 
   font-size: 40px;
   /* color: #843b62; */
   color: #ffb996;
   font-weight: bold;
   cursor: pointer;
   border-radius: 10px;
   outline: none
}

.equals {
    grid-column: 3 / 5;
    background-color: #f77d7c;
    font-size: 60px;
    font-weight: bold;
    /* color: #0c032d; */
    color: #80320b;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}