@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Moon Dance', cursive;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
